body {
  background-color: whitesmoke;
}
.user-avatar {
  border-radius: 50%;
  max-width: 40px;
  max-height: 40px;
}
.alert-text {
  text-align: left;
}
.m-stack {
  text-align: center;
}
.m--marginless {
  margin: 0;
}
.kt-grid--hor {
  background-image: url('/images/hex_map_bg.jpg');
  background-repeat: unset;
  background-size: auto;
}
.kt-portlet__body {
  padding: 10px;
}
.kt-portlet {
  background-color: white;
  height: 100%;
}
.report-viewer-container .loader {
  margin: 20%;
}
#svpLogoNoRecord,
#svpLogoRecord {
  width: 32rem;
  width: 27rem;
}
.lead {
  margin-top: 10rem;
}
.kt-header__brand-logo .kt-header__brand-logo-default {
  float: left;
}
.kt-header__brand-logo .kt-header__brand-sublogo-default {
  max-height: 79px;
}
.no-decoration :hover {
  text-decoration: none;
}
@media only screen and (max-width: 725px) {
  #m_header {
    display: none;
  }
  .kt-body {
    padding: 0;
  }
  .kt-portlet {
    border-radius: 0;
  }
  .report-viewer-container {
    height: 540px;
  }
  .trv-report-page {
    height: 445px !important;
  }
  .kt-portlet__body {
    height: auto;
    overflow-y: auto;
  }
  .kt-wrapper {
    padding-top: 0 !important;
  }
  .kt-header__brand-logo img {
    width: 45%;
  }
}
@media only screen and (max-width: 1024px) {
  .report-viewer-container {
    height: 540px;
  }
  .trv-report-page {
    height: 445px !important;
  }
  .kt-portlet__body {
    height: auto;
    overflow-y: auto;
  }
  .kt-wrapper {
    padding-top: 0 !important;
  }
}
@media only screen and (min-width: 1025px) {
  .report-viewer-container {
    height: 625px;
  }
  .trv-report-page {
    height: 510px !important;
  }
  .kt-portlet__body.record {
    height: 600px;
    overflow-y: auto;
  }
}
.text-pre-wrap {
  white-space: pre-wrap;
}